.App {
  text-align: center;
}

.App-logo {
  padding: 20px;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo {
  display: flex;
  padding-left: 20px;
}

.App-link {
  margin: 50px;
  color: #61dafb;
  display: flex;
  gap: 30px;
}
button {
  padding: 15px;
  border-radius: 5px;
  background-color: #61dafb;
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.6);
  border-top: 1px solid white;
  border-left: 1px solid white;
}
a:link {
  text-decoration: none;
  font-size: 20px;
}
a:visited {
  text-decoration: none;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
